<h3>Profile</h3>
<form (ngSubmit)="submit()" class="flex flex-1 flex-column gap-6 pt-3 ml-1 formgrid grid">
    <div>
    <span class="p-float-label">
      <input
              pInputText
              [(ngModel)]="user.givenName"
              id="givenName"
              name="givenName"
              type="text"
      >
      <label for="givenName">First Name</label>
    </span>
    </div>

    <div>
    <span class="p-float-label">
      <input
              pInputText
              [(ngModel)]="user.familyName"
              id="familyName"
              name="familyName"
      >
      <label for="familyName">Last Name</label>
    </span>
    </div>

    <div>
    <span class="p-float-label">
      <p-calendar
              [(ngModel)]="user.birthdate"
              id="birthdate"
              name="birthdate"
              dateFormat="mm/dd/yy"
              [readonlyInput]="true"
              styleClass="w-full"
      >
      </p-calendar>
      <label for="birthdate">Date of Birth</label>
    </span>
    </div>

    <div>
    <span class="p-float-label">
      <input
              pInputText
              [(ngModel)]="user.gender"
              id="gender"
              name="gender"
      >
      <label for="gender">Gender</label>
    </span>
    </div>

    <div>
    <span class="p-float-label">
      <p-inputMask
              mask="99999"
              placeholder="#####"
              [(ngModel)]="user.zipcode"
              styleClass="w-full"
              id="zipcode"
              name="zipcode"
      ></p-inputMask>
      <label for="zipcode">Zip-Code</label>
    </span>
    </div>

    <div>
    <span class="p-float-label flex flex-1">
      <p-dropdown
              [options]="insuranceCompanyOptions"
              optionLabel="label"
              optionValue="id"

              placeholder="Select your Insurance"
              [(ngModel)]="user.insurance"
              panelStyleClass='w-full'
              styleClass='w-full'

              id="insurance"
              name="insurance"
      ></p-dropdown>
      <label for="insurance">{{ user.insurance ? 'Insurance' : 'Select your Insurance' }}</label>
    </span>
    </div>

    <p-button class="btn btn-primary" type="submit">Submit</p-button>
</form>
