<div class="flex flex-column">
    <h3>
        {{ inProgressAssessment.joint | enumToString | titlecase }}
        - {{ inProgressAssessment.motion | enumToString | titlecase }}
    </h3>

    <app-camera class="flex-grow-1"
    ></app-camera>


    <div>
        <span style="font-2em;">{{ inProgressAssessment.joint | enumToString | titlecase }}</span>
        <ng-container *ngFor="let measurement of (poses | convertPoseToJointMeasurements: inProgressAssessment.joint | async)">
            <span style="font-size:2em;">{{ (measurement | jointMeasurementToDegree) | async | number: '2.2-2' }}</span>
        </ng-container>
    </div>

    <!--
    DEBUG!
    <pre>{{ poses | async | json }}</pre>
    ++
    <pre>{{ currentAngles | json }}</pre>

    <pre>{{ pose | json }}</pre>
    <div *ngIf="assessmentJointMeasurement">
        Raw: {{ assessmentJointMeasurement | jointMeasurementToDegree | async | number: "1.0-0" }}&deg;
    </div>
    <div *ngIf="assessmentJointMeasurement">
        Running
        Average: {{ assessmentJointMeasurement | jointMeasurementToDegree | runningAverage:100 | runningAverage:10 | async | number: "1.0-0" }}&deg;
    </div>
    -->
</div>
